on:
  workflow_dispatch:
env:
  cat_name: "Puszek"
  WORKFLOW_VAR: "workflow"
jobs:

  display-variables:
    name: TEST
    runs-on: ubuntu-latest
    environment: test
    env:
      JOB_VAR: "job"
    steps:
     - name: Use variables 1
       env: 
         STEP_VAR: "step"
         ORGANIZATION_VAR: ${{ vars.ORGANIZATION_VAR }} 
         REPOSITORY_VAR: ${{ vars.REPOSITORY_VAR }} 
         ENVIRONMENT_VAR: ${{ vars.ENVIRONMENT_VAR }} 
       run: |
         echo "Repository variable : $REPOSITORY_VAR"
         echo "Organization variable : $ORGANIZATION_VAR"
         echo "Environment variable : $ENVIRONMENT_VAR"
         echo "Alice has a cat named $cat_name"
         echo "Should be variable in workflow scope:$WORKFLOW_VAR"
         echo "Should be variable in job scope:$JOB_VAR"
         echo "Should be variable in step scope:$STEP_VAR"

     - name: Use variables 2
       run: |
        echo "Repository variable : ${{ vars.ORGANIZATION_VAR }}"
        echo "Organization variable : ${{ vars.REPOSITORY_VAR }}" 
        echo "Environment variable : ${{ vars.ENVIRONMENT_VAR }}"
        echo "Alice has a cat named $cat_name"
        echo "Should be variable in workflow scope:$WORKFLOW_VAR"
        echo "Should be variable in job scope:$JOB_VAR"
        echo "Should NOT be variable in step scope:$STEP_VAR"
       env: 
         STEP_VAR: "step"

     - name: All envs
       run: env
